<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328636166233-fd0gtf975poh9ajh3l5pd9o3hthraocu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328636166233-fd0gtf975poh9ajh3l5pd9o3hthraocu</string>
	<key>API_KEY</key>
	<string>AIzaSyB9gwPtoX8UBiRHqAfP9t1wbYEMuauBHo0</string>
	<key>GCM_SENDER_ID</key>
	<string>328636166233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anrear</string>
	<key>PROJECT_ID</key>
	<string>anrear-8e2f6</string>
	<key>STORAGE_BUCKET</key>
	<string>anrear-8e2f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328636166233:ios:537e40abaf4b889ef1c148</string>
</dict>
</plist>